<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        cacheResult="true"
        colors="true"
        verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">/src</directory>
            <exclude>
                <directory suffix=".php">/src/Models</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>